{% extends "base.html" %}

{% block title %}Contact Us - End-to-End Spoken Keyword Spotting{% endblock %}

{% block content %}
<div class="contact-section card">
    <h2>Contact Us</h2>
    <div class="contact-info">
        <div class="contact-item">
            <h3>Address</h3>
            <p>Souvik Banik<br>
               Behala<br>
               Kolkata<br>
               West Bengal - 700034, India</p>
        </div>
        
        <div class="contact-item">
            <h3>Get in Touch</h3>
            <p><strong>Email:</strong> <a href="mailto:bradpittdonrooney@gmail.com">bradpittdonrooney@gmail.com</a></p>
            <p><strong>Phone:</strong> +91-98300-98300</p>
        </div>


    </div>
</div>
{% endblock %}